<nav>
  <div class="nav-wrapper purple darken-4">
    <a href="#" class="brand-logo">Image Search</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/']">Home</a></li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/history']">History</a></li>
    </ul>
  </div>
</nav>
<!-- <div class="progress">
  <div class="indeterminate"></div>
</div> -->